.App {
  
}
/* css for heading text*/
.header_text{
  color:white;
  font-size: 50%;
 
}
/*tag line text css*/
.tagline_text{
  font-size: 2%;
  float: left;
  color: gold;
  font-size:100%;
  
  font-weight: bolder;
 
}
/* TextFeild styling*/
.input_box{
  
  
  
  
  
}
/* seperated styling for message box*/
.message_box{
  
 
  
  
}
/* common button styling */
.button {
  background-color:deepskyblue;
  border: none;
  color: white;
  padding-top:45px;
  padding-left:30px;
  padding-right:30px;
  padding-bottom:45px;
  
  
  text-align: center;
  font: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  
  border-radius:50%;
  
  
  border-radius:50%;
  
  
  
  
}
.App-header {
  background-image:  url("images/contact_blured_city.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* Addind style to get transperent input box*/
.input_box_background{
  background-color:#CBCAC9;
  opacity: .4;
  color: aliceblue;
}
.gridClass{
 
}
.submit{
  
}